@keyframes aparlatder {
    0% {left: 600px;top: 0px;}
    20% {left: 400px;top: 0px;}
    40% {left: 300px;top: 0px;}
    60% {left: 200px;top: 0px;}
    80% {left: 100px;top: 0px;}
    100% {left: 0px;top: 0px;}
}

@keyframes aparlatizq {
    0% {right: 600px;top: 0px;}
    20% {right: 400px;top: 0px;}
    40% {right: 300px;top: 0px;}
    60% {right: 200px;top: 0px;}
    80% {right: 100px;top: 0px;}
    100% {right: 0px;top: 0px;}
}